<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>风电功率预测系统油专特供版online</title>
    <!-- base:css -->
    <link href="static/css/typicons.css" rel="stylesheet">
    <link href="static/css/vendor.bundle.base.css" rel="stylesheet">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <link href="static/css/select2.min.css" rel="stylesheet">
    <link href="static/css/select2-bootstrap.min.css" rel="stylesheet">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="static/css/style.css" rel="stylesheet">
    <!-- endinject -->

</head>

<body>
<div class="container-scroller">
    <!-- partial:../../partials/_navbar.html -->
    <div id="nav-placeholder">
            <script>
                $(function () {
                    $("#nav-placeholder").load("/navigation.html");
                });
            </script>
        </div>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:../../partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div id="settings-trigger"><i class="typcn typcn-cog-outline"></i></div>
            <div class="settings-panel" id="theme-settings">
                <i class="settings-close typcn typcn-delete-outline"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>
                    Light
                </div>
                <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                    Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles primary"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default border"></div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <!-- partial:../../partials/_sidebar.html -->

        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <div class="d-flex sidebar-profile">
                        <div class="sidebar-profile-image">
                            <img alt="image" src="static/picture/face29.png">
                            <span class="sidebar-status-indicator"></span>
                        </div>
                        <div class="sidebar-profile-name">
                            <p class="sidebar-name">
                                Kenneth Osborne
                            </p>
                            <p class="sidebar-designation">
                                Welcome
                            </p>
                        </div>
                    </div>
                    <div class="nav-search">
                        <div class="input-group">
                            <input aria-describedby="search" aria-label="search" class="form-control" placeholder="Type to search..."
                                   type="text">
                            <div class="input-group-append">
                  <span class="input-group-text" id="search">
                    <i class="typcn typcn-zoom"></i>
                  </span>
                            </div>
                        </div>
                    </div>
                    <p class="sidebar-menu-title">Dash menu</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="../index.html">
                        <i class="typcn typcn-device-desktop menu-icon"></i>
                        <span class="menu-title">Dashboard <span class="badge badge-primary ml-3">New</span></span>
                    </a>
                </li>
                <li class="nav-item">
                    <a aria-controls="ui-basic" aria-expanded="false" class="nav-link" data-toggle="collapse"
                       href="#ui-basic">
                        <i class="typcn typcn-briefcase menu-icon"></i>
                        <span class="menu-title">UI Elements</span>
                        <i class="typcn typcn-chevron-right menu-arrow"></i>
                    </a>
                    <div class="collapse" id="ui-basic">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="buttons.html">Buttons</a></li>
                            <li class="nav-item"><a class="nav-link" href="dropdowns.html">Dropdowns</a></li>
                            <li class="nav-item"><a class="nav-link" href="typography.html">Typography</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="form-elements" aria-expanded="false" class="nav-link" data-toggle="collapse"
                       href="#form-elements">
                        <i class="typcn typcn-film menu-icon"></i>
                        <span class="menu-title">Form elements</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="form-elements">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="">模型管理</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="charts" aria-expanded="false" class="nav-link" data-toggle="collapse"
                       href="#charts">
                        <i class="typcn typcn-chart-pie-outline menu-icon"></i>
                        <span class="menu-title">Charts</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="charts">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="chartjs.html">ChartJs</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="tables" aria-expanded="false" class="nav-link" data-toggle="collapse"
                       href="#tables">
                        <i class="typcn typcn-th-small-outline menu-icon"></i>
                        <span class="menu-title">管理员</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/admin">模型管理</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="icons" aria-expanded="false" class="nav-link" data-toggle="collapse"
                       href="#icons">
                        <i class="typcn typcn-compass menu-icon"></i>
                        <span class="menu-title">Icons</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="icons">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="mdi.html">Mdi icons</a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="auth" aria-expanded="false" class="nav-link" data-toggle="collapse" href="#auth">
                        <i class="typcn typcn-user-add-outline menu-icon"></i>
                        <span class="menu-title">User Pages</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="auth">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="../login.html"> Login </a></li>
                            <li class="nav-item"><a class="nav-link" href="../register.html"> Register </a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a aria-controls="error" aria-expanded="false" class="nav-link" data-toggle="collapse"
                       href="#error">
                        <i class="typcn typcn-globe-outline menu-icon"></i>
                        <span class="menu-title">Error pages</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="error">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="../error-404.html"> 404 </a></li>
                            <li class="nav-item"><a class="nav-link" href="../error-500.html"> 500 </a></li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="documentation.html">
                        <i class="typcn typcn-document-text menu-icon"></i>
                        <span class="menu-title">Documentation</span>
                    </a>
                </li>
            </ul>
            <ul class="sidebar-legend">
                <li>
                    <p class="sidebar-menu-title">Category</p>
                </li>
                <li class="nav-item"><a class="nav-link" href="#">#Sales</a></li>
                <li class="nav-item"><a class="nav-link" href="#">#Marketing</a></li>
                <li class="nav-item"><a class="nav-link" href="#">#Growth</a></li>
            </ul>
        </nav>

        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row">
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Default form</h4>
                                <p class="card-description">
                                    Basic form layout
                                </p>
                                <form class="forms-sample">
                                    <div class="form-group">
                                        <label for="exampleInputUsername1">Username</label>
                                        <input class="form-control" id="exampleInputUsername1" placeholder="Username"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail1">Email address</label>
                                        <input class="form-control" id="exampleInputEmail1" placeholder="Email"
                                               type="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword1">Password</label>
                                        <input class="form-control" id="exampleInputPassword1" placeholder="Password"
                                               type="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputConfirmPassword1">Confirm Password</label>
                                        <input class="form-control" id="exampleInputConfirmPassword1" placeholder="Password"
                                               type="password">
                                    </div>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            Remember me
                                        </label>
                                    </div>
                                    <button class="btn btn-primary mr-2" type="submit">Submit</button>
                                    <button class="btn btn-light">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Horizontal Form</h4>
                                <p class="card-description">
                                    Horizontal form layout
                                </p>
                                <form class="forms-sample">
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label" for="exampleInputUsername2">Email</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="exampleInputUsername2" placeholder="Username"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label" for="exampleInputEmail2">Email</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="exampleInputEmail2" placeholder="Email"
                                                   type="email">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label" for="exampleInputMobile">Mobile</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="exampleInputMobile" placeholder="Mobile number"
                                                   type="text">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label"
                                               for="exampleInputPassword2">Password</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="exampleInputPassword2" placeholder="Password"
                                                   type="password">
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-sm-3 col-form-label" for="exampleInputConfirmPassword2">Re
                                            Password</label>
                                        <div class="col-sm-9">
                                            <input class="form-control" id="exampleInputConfirmPassword2"
                                                   placeholder="Password" type="password">
                                        </div>
                                    </div>
                                    <div class="form-check form-check-flat form-check-primary">
                                        <label class="form-check-label">
                                            <input class="form-check-input" type="checkbox">
                                            Remember me
                                        </label>
                                    </div>
                                    <button class="btn btn-primary mr-2" type="submit">Submit</button>
                                    <button class="btn btn-light">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Basic form elements</h4>
                                <p class="card-description">
                                    Basic form elements
                                </p>
                                <form class="forms-sample">
                                    <div class="form-group">
                                        <label for="exampleInputName1">Name</label>
                                        <input class="form-control" id="exampleInputName1" placeholder="Name"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputEmail3">Email address</label>
                                        <input class="form-control" id="exampleInputEmail3" placeholder="Email"
                                               type="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputPassword4">Password</label>
                                        <input class="form-control" id="exampleInputPassword4" placeholder="Password"
                                               type="password">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleSelectGender">Gender</label>
                                        <select class="form-control" id="exampleSelectGender">
                                            <option>Male</option>
                                            <option>Female</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label>File upload</label>
                                        <input class="file-upload-default" name="img[]" type="file">
                                        <div class="input-group col-xs-12">
                                            <input class="form-control file-upload-info" disabled="" placeholder="Upload Image"
                                                   type="text">
                                            <span class="input-group-append">
                          <button class="file-upload-browse btn btn-primary" type="button">Upload</button>
                        </span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleInputCity1">City</label>
                                        <input class="form-control" id="exampleInputCity1" placeholder="Location"
                                               type="text">
                                    </div>
                                    <div class="form-group">
                                        <label for="exampleTextarea1">Textarea</label>
                                        <textarea class="form-control" id="exampleTextarea1" rows="4"></textarea>
                                    </div>
                                    <button class="btn btn-primary mr-2" type="submit">Submit</button>
                                    <button class="btn btn-light">Cancel</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Input size</h4>
                                <p class="card-description">
                                    Add classes like <code>.form-control-lg</code> and <code>.form-control-sm</code>.
                                </p>
                                <div class="form-group">
                                    <label>Large input</label>
                                    <input aria-label="Username" class="form-control form-control-lg" placeholder="Username"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label>Default input</label>
                                    <input aria-label="Username" class="form-control" placeholder="Username"
                                           type="text">
                                </div>
                                <div class="form-group">
                                    <label>Small input</label>
                                    <input aria-label="Username" class="form-control form-control-sm" placeholder="Username"
                                           type="text">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Select size</h4>
                                <p class="card-description">
                                    Add classes like <code>.form-control-lg</code> and <code>.form-control-sm</code>.
                                </p>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect1">Large select</label>
                                    <select class="form-control form-control-lg" id="exampleFormControlSelect1">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect2">Default select</label>
                                    <select class="form-control" id="exampleFormControlSelect2">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label for="exampleFormControlSelect3">Small select</label>
                                    <select class="form-control form-control-sm" id="exampleFormControlSelect3">
                                        <option>1</option>
                                        <option>2</option>
                                        <option>3</option>
                                        <option>4</option>
                                        <option>5</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Basic input groups</h4>
                                <p class="card-description">
                                    Basic bootstrap input groups
                                </p>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">@</span>
                                        </div>
                                        <input aria-label="Username" class="form-control" placeholder="Username"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text bg-primary text-white">$</span>
                                        </div>
                                        <input aria-label="Amount (to the nearest dollar)" class="form-control"
                                               type="text">
                                        <div class="input-group-append">
                                            <span class="input-group-text">.00</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">$</span>
                                        </div>
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">0.00</span>
                                        </div>
                                        <input aria-label="Amount (to the nearest dollar)" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input aria-label="Recipient's username" class="form-control" placeholder="Recipient's username"
                                               type="text">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-primary" type="button">Search</button>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <div class="input-group-prepend">
                                            <button aria-expanded="false" aria-haspopup="true"
                                                    class="btn btn-sm btn-outline-primary dropdown-toggle" data-toggle="dropdown" type="button">
                                                Dropdown
                                            </button>
                                            <div class="dropdown-menu">
                                                <a class="dropdown-item" href="#">Action</a>
                                                <a class="dropdown-item" href="#">Another action</a>
                                                <a class="dropdown-item" href="#">Something else here</a>
                                                <div class="dropdown-divider" role="separator"></div>
                                                <a class="dropdown-item" href="#">Separated link</a>
                                            </div>
                                        </div>
                                        <input aria-label="Text input with dropdown button" class="form-control"
                                               type="text">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group">
                                        <input aria-label="Recipient's username" class="form-control" placeholder="Find in facebook"
                                               type="text">
                                        <div class="input-group-append">
                                            <button class="btn btn-sm btn-facebook" type="button">
                                                <i class="typcn typcn-social-facebook"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Checkbox Controls</h4>
                                <p class="card-description">Checkbox and radio controls (default appearance is in
                                    primary color)</p>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" type="checkbox">
                                                        Default
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input" type="checkbox">
                                                        Checked
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" disabled="" type="checkbox">
                                                        Disabled
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input" disabled=""
                                                               type="checkbox">
                                                        Disabled checked
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" id="optionsRadios1"
                                                               name="optionsRadios" type="radio" value="">
                                                        Default
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input"
                                                               id="optionsRadios2" name="optionsRadios" type="radio"
                                                               value="option2">
                                                        Selected
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input class="form-check-input" disabled=""
                                                               id="optionsRadios3" name="optionsRadios2" type="radio"
                                                               value="option3">
                                                        Disabled
                                                    </label>
                                                </div>
                                                <div class="form-check">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input"
                                                               disabled="" id="optionsRadios4" name="optionsRadio2"
                                                               type="radio" value="option4">
                                                        Selected and disabled
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="card-body">
                                <p class="card-description">Add class <code>.form-check-{color}</code> for checkbox and
                                    radio controls in theme colors</p>
                                <form>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-check form-check-primary">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input" type="checkbox">
                                                        Primary
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-success">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input" type="checkbox">
                                                        Success
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-info">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input" type="checkbox">
                                                        Info
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-danger">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input" type="checkbox">
                                                        Danger
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-warning">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input" type="checkbox">
                                                        Warning
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                <div class="form-check form-check-primary">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input"
                                                               id="ExampleRadio1" name="ExampleRadio1" type="radio">
                                                        Primary
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-success">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input"
                                                               id="ExampleRadio2" name="ExampleRadio2" type="radio">
                                                        Success
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-info">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input"
                                                               id="ExampleRadio3" name="ExampleRadio3" type="radio">
                                                        Info
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-danger">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input"
                                                               id="ExampleRadio4" name="ExampleRadio4" type="radio">
                                                        Danger
                                                    </label>
                                                </div>
                                                <div class="form-check form-check-warning">
                                                    <label class="form-check-label">
                                                        <input checked="" class="form-check-input"
                                                               id="ExampleRadio5" name="ExampleRadio5" type="radio">
                                                        Warning
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Inline forms</h4>
                                <p class="card-description">
                                    Use the <code>.form-inline</code> class to display a series of labels, form
                                    controls, and buttons on a single horizontal row
                                </p>
                                <form class="form-inline">
                                    <label class="sr-only" for="inlineFormInputName2">Name</label>
                                    <input class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe"
                                           type="text">

                                    <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
                                    <div class="input-group mb-2 mr-sm-2">
                                        <div class="input-group-prepend">
                                            <div class="input-group-text">@</div>
                                        </div>
                                        <input class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username"
                                               type="text">
                                    </div>
                                    <div class="form-check mx-sm-2">
                                        <label class="form-check-label">
                                            <input checked="" class="form-check-input" type="checkbox">
                                            Remember me
                                        </label>
                                    </div>
                                    <button class="btn btn-primary mb-2" type="submit">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 grid-margin">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Horizontal Two column</h4>
                                <form class="form-sample">
                                    <p class="card-description">
                                        Personal info
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">First Name</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Last Name</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Gender</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control">
                                                        <option>Male</option>
                                                        <option>Female</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Date of Birth</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" placeholder="dd/mm/yyyy">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Category</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control">
                                                        <option>Category1</option>
                                                        <option>Category2</option>
                                                        <option>Category3</option>
                                                        <option>Category4</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Membership</label>
                                                <div class="col-sm-4">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input checked="" class="form-check-input"
                                                                   id="membershipRadios1" name="membershipRadios"
                                                                   type="radio" value="">
                                                            Free
                                                        </label>
                                                    </div>
                                                </div>
                                                <div class="col-sm-5">
                                                    <div class="form-check">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" id="membershipRadios2"
                                                                   name="membershipRadios" type="radio"
                                                                   value="option2">
                                                            Professional
                                                        </label>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="card-description">
                                        Address
                                    </p>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address 1</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">State</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Address 2</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Postcode</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">City</label>
                                                <div class="col-sm-9">
                                                    <input class="form-control" type="text">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label">Country</label>
                                                <div class="col-sm-9">
                                                    <select class="form-control">
                                                        <option>America</option>
                                                        <option>Italy</option>
                                                        <option>Russia</option>
                                                        <option>Britain</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Select 2</h4>
                                <div class="form-group">
                                    <label>Single select box using select 2</label>
                                    <select class="js-example-basic-single w-100">
                                        <option value="AL">Alabama</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="AM">America</option>
                                        <option value="CA">Canada</option>
                                        <option value="RU">Russia</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <label>Multiple select using select 2</label>
                                    <select class="js-example-basic-multiple w-100" multiple="multiple">
                                        <option value="AL">Alabama</option>
                                        <option value="WY">Wyoming</option>
                                        <option value="AM">America</option>
                                        <option value="CA">Canada</option>
                                        <option value="RU">Russia</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Typeahead</h4>
                                <p class="card-description">
                                    A simple suggestion engine
                                </p>
                                <div class="form-group row">
                                    <div class="col">
                                        <label>Basic</label>
                                        <div id="the-basics">
                                            <input class="typeahead" placeholder="States of USA" type="text">
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label>Bloodhound</label>
                                        <div id="bloodhound">
                                            <input class="typeahead" placeholder="States of USA" type="text">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- content-wrapper ends -->
            <!-- partial:../../partials/_footer.html -->
            <footer class="footer">
                <div class="d-sm-flex justify-content-center justify-content-sm-between">
                    <span class="text-center text-sm-left d-block d-sm-inline-block">Copyright © <a href="javascript:;"
                                                                                                    target="_blank">bootstrapdash.com</a> 2020</span>

                </div>
            </footer>
            <!-- partial -->
        </div>
        <!-- main-panel ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>
<!-- container-scroller -->
<!-- base:js -->
<script src="static/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- inject:js -->
<script src="static/js/off-canvas.js"></script>
<script src="static/js/hoverable-collapse.js"></script>
<script src="static/js/template.js"></script>
<script src="static/js/settings.js"></script>
<script src="static/js/todolist.js"></script>
<!-- endinject -->
<!-- plugin js for this page -->
<script src="static/js/typeahead.bundle.min.js"></script>
<script src="static/js/select2.min.js"></script>
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<script src="static/js/file-upload.js"></script>
<script src="static/js/typeahead.js"></script>
<script src="static/js/select2.js"></script>
<!-- End custom js for this page-->
</body>

</html>
