<!DOCTYPE html>
<html lang="en">
<head>
    <!--    <script>-->
    <!--        window.addEventListener('resize', function () {-->
    <!--            myChart.resize();-->
    <!--        });-->
    <!--    </script>-->
    <!--    <script>-->
    <!--        window.addEventListener('orientationchange', function () {-->
    <!--            myChart.resize();-->
    <!--        });-->
    <!--    </script>-->
    <!--    <script src="https://cdn.jsdelivr.net/npm/echarts@5.4.2/dist/echarts.min.js"></script>-->
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>龙源风电功率预测系统油专特供版online</title>
    <!-- base:css -->
    <link href="../static/css/typicons.css" rel="stylesheet">
    <link href="../static/css/vendor.bundle.base.css" rel="stylesheet">

    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- endinject -->
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <script crossorigin="anonymous"
            integrity="sha512-RuUMLxuB8daxj+iqjuwA7u2lFFFQNlbnFnerb0FPhfZ761E0Wn6wD4f5vZskYgbxu+wSu36vfFHCUDaKaHHhUQ=="
            src="http://lib.baomitu.com/echarts/5.0.2/echarts.common.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
    <script src="https://www.itxst.com/package/jquery-3.5.1/jquery.min.js"></script>
    <script src="https://www.itxst.com/package/bootstrap-4.5.0/js/bootstrap.min.js"></script>
    <!--    <link href="https://www.itxst.com/package/bootstrap-4.5.0/css/bootstrap.css" rel="stylesheet">-->
    <script src="https://www.itxst.com/package/bootstrap-datepicker-1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://www.itxst.com/package/bootstrap-datepicker-1.9.0/locales/bootstrap-datepicker.zh-CN.min.js"></script>
    <!--    <link href="https://www.itxst.com/package/bootstrap-datepicker-1.9.0/css/bootstrap-datepicker.min.css" rel="stylesheet">-->
</head>
<body>
<footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
          <span class="text-center text-sm-left d-block d-sm-inline-block">
              Copyright &copy; 2023.
              <span style="font-weight: bold;font-style: italic">测试版LongYuan</span>
              All rights reserved.
              <!--                  <a href="https://sc.chinaz.com/moban/" target="_blank">&#x7F51;&#x9875;&#x6A21;&#x677F;</a>-->
          </span>
    </div>
</footer>
<!-- container-scroller -->
<!-- base:js -->
<script src="../static/js/vendor.bundle.base.js"></script>
<!-- endinject -->
<!-- Plugin js for this page-->
<!-- End plugin js for this page-->
<!-- inject:js -->
<!--<script src="../static/js/off-canvas.js"></script>-->
<!--<script src="../static/js/hoverable-collapse.js"></script>-->
<!--<script src="../static/js/template.js"></script>-->
<!--<script src="../static/js/settings.js"></script>-->
<!--<script src="../static/js/todolist.js"></script>-->
<!-- endinject -->
<!-- plugin js for this page -->
<!--<script src="../static/js/progressbar.min.js"></script>-->
<!--<script src="../static/js/Chart.min.js"></script>-->
<!-- End plugin js for this page -->
<!-- Custom js for this page-->
<!--<script src="../static/js/dashboard.js"></script>-->
<!-- End custom js for this page-->
</body>
</html>
