<ul class="nav">
    <li class="nav-item">
        <p class="sidebar-menu-title">测试目录</p>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/index">
            <i class="typcn typcn-home-outline menu-icon"></i>
            <span class="menu-title">主页 </span>
        </a>
    </li>
     <li class="nav-item">
        <a class="nav-link" href="/visual">
            <i class="typcn typcn-device-desktop menu-icon"></i>
            <span class="menu-title">风电数据平台</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/predict">
            <i class="typcn typcn-chart-bar menu-icon"></i>
            <span class="menu-title">在线预测</span>
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/offline">
            <i class="typcn typcn-download-outline menu-icon"></i>
            <span class="menu-title">离线应用</span>
        </a>
    </li>
<!--    <li class="nav-item">-->
<!--        <a class="nav-link" href="/tdra">-->
<!--            <i class="typcn typcn-download-outline menu-icon"></i>-->
<!--            <span class="menu-title">移动端应用</span>-->
<!--        </a>-->
<!--    </li>-->
    <!--          api使用文档-->
    <li class="nav-item">
        <a class="nav-link" href="/api">
            <i class="typcn typcn-document-text menu-icon"></i>
            <span class="menu-title">API使用文档</span>
        </a>
    </li>
<!--    管理员 or 日志管理-->
    {% if username == 'admin' %}
    <li class="nav-item">
        <a aria-controls="tables" aria-expanded="false" class="nav-link" data-toggle="collapse"
           href="#tables">
            <i class="typcn typcn-th-small-outline menu-icon"></i>
            <span class="menu-title">管理员</span>
            <i class="menu-arrow"></i>
        </a>
        <div class="collapse" id="tables">
            <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="/admin">模型管理</a></li>
                <li class="nav-item"><a class="nav-link" href="/log_admin">日志管理</a></li>
            </ul>
        </div>
    </li>
    {% else %}
    <li class="nav-item">
        <a class="nav-link" href="/log">
            <i class="typcn typcn-th-small-outline menu-icon"></i>
            <span class="menu-title">使用日志</span>
        </a>
    </li>
    {% endif %}
     <!--          个人中心-->
    <li class="nav-item">
        <a class="nav-link" href="/personalcenter">
            <i class="typcn typcn-user-outline menu-icon"></i>
            <span class="menu-title">个人中心</span>
        </a>
    </li>
</ul>
