<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        window.addEventListener('resize', function () {
            myChart.resize();
        });
    </script>
    <script>
        window.addEventListener('orientationchange', function () {
            myChart.resize();
        });
    </script>
    <script crossorigin="anonymous"
            integrity="sha512-RuUMLxuB8daxj+iqjuwA7u2lFFFQNlbnFnerb0FPhfZ761E0Wn6wD4f5vZskYgbxu+wSu36vfFHCUDaKaHHhUQ=="
            src="http://lib.baomitu.com/echarts/5.0.2/echarts.common.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>龙源风电功率预测系统油专特供版online</title>
    <!-- base:css -->
    <link href="static/css/typicons.css" rel="stylesheet">
    <link href="static/css/vendor.bundle.base.css" rel="stylesheet">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="static/css/style.css" rel="stylesheet">
    <!-- endinject -->
    <script src="static/js/modernizr-2.8.3.min.js"></script>
</head>
<body>
<script>
    window.addEventListener('resize', function () {
        myChart.resize();
    });
</script>
<script>
    window.addEventListener('orientationchange', function () {
        myChart.resize();
    });
</script>
<i id="bannerClose"></i>
<div class="container-scroller">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href=""><img alt="logo" src="static/picture/logo.svg"></a>
            <a class="navbar-brand brand-logo-mini" href=""><img alt="logo" src="static/picture/logo-mini.svg"></a>
            <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" data-toggle="minimize"
                    type="button">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item d-none d-lg-flex  mr-2">
                    <a class="nav-link" href="/">
                        退出登录
                    </a>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" data-toggle="offcanvas"
                    type="button">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <nav class="sidebar sidebar-offcanvas" id="sidebar">
            <ul class="nav">
                <li class="nav-item">
                    <p class="sidebar-menu-title">目录</p>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/index">
                        <i class="typcn typcn-device-desktop menu-icon"></i>
                        <span class="menu-title">主页</span>
                    </a>
                </li>
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">-->
                <!--              <i class="typcn typcn-briefcase menu-icon"></i>-->
                <!--              <span class="menu-title">UI Elements</span>-->
                <!--              <i class="typcn typcn-chevron-right menu-arrow"></i>-->
                <!--            </a>-->
                <!--            <div class="collapse" id="ui-basic">-->
                <!--              <ul class="nav flex-column sub-menu">-->
                <!--                <li class="nav-item"> <a class="nav-link" href="buttons.html">Buttons</a></li>-->
                <!--                <li class="nav-item"> <a class="nav-link" href="dropdowns.html">Dropdowns</a></li>-->
                <!--                <li class="nav-item"> <a class="nav-link" href="typography.html">Typography</a></li>-->
                <!--              </ul>-->
                <!--            </div>-->
                <!--          </li>-->
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">-->
                <!--              <i class="typcn typcn-film menu-icon"></i>-->
                <!--              <span class="menu-title">Form elements</span>-->
                <!--              <i class="menu-arrow"></i>-->
                <!--            </a>-->
                <!--            <div class="collapse" id="form-elements">-->
                <!--              <ul class="nav flex-column sub-menu">-->
                <!--                <li class="nav-item"><a class="nav-link" href="basic_elements.html">Basic Elements</a></li>-->
                <!--              </ul>-->
                <!--            </div>-->
                <!--          </li>-->
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link" data-toggle="collapse" href="#charts" aria-expanded="false" aria-controls="charts">-->
                <!--              <i class="typcn typcn-chart-pie-outline menu-icon"></i>-->
                <!--              <span class="menu-title">Charts</span>-->
                <!--              <i class="menu-arrow"></i>-->
                <!--            </a>-->
                <!--            <div class="collapse" id="charts">-->
                <!--              <ul class="nav flex-column sub-menu">-->
                <!--                <li class="nav-item"> <a class="nav-link" href="chartjs.html">ChartJs</a></li>-->
                <!--              </ul>-->
                <!--            </div>-->
                <!--          </li>-->
                <li class="nav-item">
                    <a aria-controls="tables" aria-expanded="false" class="nav-link" data-toggle="collapse"
                       href="#tables">
                        <i class="typcn typcn-th-small-outline menu-icon"></i>
                        <span class="menu-title">管理员</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="collapse" id="tables">
                        <ul class="nav flex-column sub-menu">
                            <li class="nav-item"><a class="nav-link" href="/admin">模型管理</a></li>
                        </ul>
                    </div>
                </li>
                <!--          <li class="nav-item">-->
                <!--            <a class="nav-link" data-toggle="collapse" href="#icons" aria-expanded="false" aria-controls="icons">-->
                <!--              <i class="typcn typcn-compass menu-icon"></i>-->
                <!--              <span class="menu-title">Icons</span>-->
                <!--              <i class="menu-arrow"></i>-->
                <!--            </a>-->
                <!--            <div class="collapse" id="icons">-->
                <!--              <ul class="nav flex-column sub-menu">-->
                <!--                <li class="nav-item"> <a class="nav-link" href="mdi.html">Mdi icons</a></li>-->
                <!--              </ul>-->
                <!--            </div>-->
                <!--          </li>-->
                <li class="nav-item">
                    <a class="nav-link" href="/predict">
                        <i class="typcn typcn-chart-bar menu-icon"></i>
                        <span class="menu-title">在线预测</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/offline">
                        <i class="typcn typcn-download-outline menu-icon"></i>
                        <span class="menu-title">离线应用</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/api">
                        <i class="typcn typcn-document-text menu-icon"></i>
                        <span class="menu-title">api使用文档</span>
                    </a>
                </li>
            </ul>
        </nav>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row mt-2">
                    <div class="col-lg-4 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <button id="uploadBtn"
                                        style="width: 80%;height: 90px;border-radius: 10px;font-weight: bold;background: white;margin-bottom: 10%;margin-top: 10%;margin-left: 10%">
                                    <i class="my_typcn typcn-upload"></i><br>上传数据
                                </button>
                                <input id="fileInput" style="display: none;" type="file">
                                <script>
                                    document.getElementById('uploadBtn').addEventListener('click', function () {
                                        document.getElementById('fileInput').click();
                                    });
                                </script>
                                <script>
                                    document.getElementById('fileInput').addEventListener('change', function (event) {
                                        var file = event.target.files[0];
                                        var formData = new FormData();
                                        formData.append('file', file);
                                        var xhr = new XMLHttpRequest();
                                        xhr.open('POST', '/upload_file', true);
                                        xhr.send(formData);
                                        var aitextarea = document.getElementById('aianswer');
                                        aitextarea.value = '上传成功~';
                                    });
                                </script>
                                <button id="predictionBtn"
                                        style="width: 80%;height: 90px;border-radius: 10px;font-weight: bold;background: white;margin-bottom: 10%;margin-left: 10%">
                                    <i class="my_typcn typcn-chart-bar-outline"></i><br>预测功率
                                </button>
                                <script>
                                    document.getElementById('predictionBtn').addEventListener('click', function () {
                                        var aitextarea = document.getElementById('aianswer');
                                        // 在这里发送请求到后端获取数据并绘图
                                        let json_data;
                                        fetch('/online_predict')
                                            .then(response => response.json())
                                            .then(data => {
                                                json_data = data;
                                                myChart.dispose();
                                                myChart = echarts.init(document.getElementById('linechart'));
                                                // 指定图表的配置项和数据
                                                var datatime = json_data.DATATIME;
                                                var yd15 = json_data.PRE_YD15;
                                                var power = json_data.PRE_POWER;
                                                var option = {
                                                    tooltip: {
                                                        trigger: 'axis'
                                                    },
                                                    legend: {
                                                        data: ['ROUND(A.POWER,0)', 'YD15']
                                                    },
                                                    grid: {
                                                        left: '3%',
                                                        right: '4%',
                                                        bottom: '3%',
                                                        containLabel: true
                                                    },
                                                    toolbox: {
                                                        feature: {
                                                            saveAsImage: {}
                                                        }
                                                    },
                                                    xAxis: {
                                                        type: 'category',
                                                        boundaryGap: false,
                                                        data: datatime
                                                    },
                                                    yAxis: {
                                                        type: 'value'
                                                    },
                                                    series: [
                                                        {
                                                            name: 'ROUND(A.POWER,0)',
                                                            type: 'line',
                                                            data: power,
                                                            animation: true
                                                        },
                                                        {
                                                            name: 'YD15',
                                                            type: 'line',
                                                            data: yd15,
                                                            animation: true
                                                        },
                                                    ]
                                                };
                                                myChart.setOption(option)
                                                aitextarea.value = '预测完成~';
                                            })
                                            .catch(error => {
                                                console.error('获取数据时发生错误:', error);
                                            });

                                    });

                                </script>
                                <button id="aiBtn"
                                        style="width: 80%;height: 90px;border-radius: 10px;font-weight: bold;background: white;margin-bottom: 10%;margin-left: 10%">
                                    <i class="my_typcn typcn-zoom"></i><br>AI分析
                                </button>
                                <script>
                                    document.getElementById('aiBtn').addEventListener('click', function () {
                                        var aitextarea = document.getElementById('aianswer');
                                        aitextarea.value = '正在分析...';
                                        let json_data;
                                        fetch('/gptapi_analyze')
                                            .then(response => response.json())
                                            .then(data => {
                                                json_data = data;
                                                var ans = json_data.ans;
                                                aitextarea.value = ans;
                                            })
                                    });
                                </script>
                                <button id="downloadBtn"
                                        style="width: 80%;height: 90px;border-radius: 10px;font-weight: bold;background: white;margin-bottom: 10%;margin-left: 10%">
                                    <a href="/download_resfile" style="text-decoration: none;color: black"><i
                                            class="my_typcn typcn-download"></i><br>下载结果</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body">
                                <div id="linechart" style="width: 100%;height: 500px">
                                    <script>
                                        var myChart = echarts.init(document.getElementById('linechart'));
                                        // 指定图表的配置项和数据
                                        var option = {
                                            tooltip: {
                                                trigger: 'axis'
                                            },
                                            legend: {
                                                data: ['示例曲线1', '示例曲线2']
                                            },
                                            grid: {
                                                left: '3%',
                                                right: '4%',
                                                bottom: '3%',
                                                containLabel: true
                                            },
                                            toolbox: {
                                                feature: {
                                                    saveAsImage: {}
                                                }
                                            },
                                            xAxis: {
                                                type: 'category',
                                                boundaryGap: false,
                                                data: [1, 2, 3, 4, 5]
                                            },
                                            yAxis: {
                                                type: 'value'
                                            },
                                            series: [
                                                {
                                                    name: '示例曲线1',
                                                    type: 'line',
                                                    data: [2, 4, 6, 13, 18]
                                                },
                                                {
                                                    name: '示例曲线2',
                                                    type: 'line',
                                                    data: [1, 2, 3, 4, 5]
                                                },
                                            ]
                                        };
                                        myChart.setOption(option)
                                    </script>
                                </div>
                                <textarea id="aianswer" readonly style="width: 100%;height:120px;">Hi，您好，欢迎使用风电功率预测与分析服务。
                        </textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="static/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="static/js/off-canvas.js"></script>
    <script src="static/js/hoverable-collapse.js"></script>
    <script src="static/js/template.js"></script>
    <script src="static/js/settings.js"></script>
    <script src="static/js/todolist.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="static/js/progressbar.min.js"></script>
    <script src="static/js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="static/js/dashboard.js"></script>
    <!-- End custom js for this page-->
    <!-- Include All JS -->
    <!--   <script src="static/js/jquery-3.5.1.min.js"></script>-->
    <script src="static/js/bootstrap.min.js"></script>
    <script src="static/js/isotope.pkgd.min.js"></script>
    <script src="static/js/owl.carousel.min.js"></script>
    <script src="static/js/slick.min.js"></script>
    <script src="static/js/imagesloaded.pkgd.min.js"></script>
    <script src="static/js/venobox.min.js"></script>
    <script src="static/js/jquery.appear.js"></script>
    <script src="static/js/jquery.knob.js"></script>
    <script src="static/js/theme-pluginjs.js"></script>
    <script src="static/js/jquery.meanmenu.js"></script>
    <script src="static/js/ajax-mail.js"></script>
    <script src="static/js/theme.js"></script>
</body>
</html>
