<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        import {MDCFormField} from '@material/form-field';
        import {MDCCheckbox} from '@material/checkbox';

        const checkbox = new MDCCheckbox(document.querySelector('.mdc-checkbox'));
        const formField = new MDCFormField(document.querySelector('.mdc-form-field'));
        formField.input = checkbox;
    </script>
    <script>
        window.addEventListener('resize', function () {
            myChart.resize();
        });
    </script>
    <script>
        window.addEventListener('orientationchange', function () {
            myChart.resize();
        });
    </script>
    <script crossorigin="anonymous"
            integrity="sha512-RuUMLxuB8daxj+iqjuwA7u2lFFFQNlbnFnerb0FPhfZ761E0Wn6wD4f5vZskYgbxu+wSu36vfFHCUDaKaHHhUQ=="
            src="http://lib.baomitu.com/echarts/5.0.2/echarts.common.js"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <title>龙源风电功率预测系统油专特供版online</title>
    <!-- base:css -->
    <link href="../static/css/typicons.css" rel="stylesheet">
    <link href="../static/css/vendor.bundle.base.css" rel="stylesheet">
    <!-- endinject -->
    <!-- plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link href="../static/css/style.css" rel="stylesheet">
    <!-- endinject -->
    <script src="../static/js/modernizr-2.8.3.min.js"></script>
    <script src="https://www.itxst.com/package/jquery-3.5.1/jquery.min.js"></script>
</head>
<body>
<i id="bannerClose"></i>
<div class="container-scroller" id="root">
    <!-- partial:partials/_navbar.html -->
    <nav class="navbar col-lg-12 col-12 p-0 fixed-top d-flex flex-row">
        <div class="text-center navbar-brand-wrapper d-flex align-items-center justify-content-center">
            <a class="navbar-brand brand-logo" href=""><img alt="logo" src="static/picture/logo.svg"></a>
            <a class="navbar-brand brand-logo-mini" href=""><img alt="logo" src="static/picture/logo-mini.svg"></a>
            <button class="navbar-toggler navbar-toggler align-self-center d-none d-lg-flex" data-toggle="minimize"
                    type="button">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>
        <div class="navbar-menu-wrapper d-flex align-items-center justify-content-end">
            <ul class="navbar-nav navbar-nav-right">
                <li class="nav-item d-none d-lg-flex  mr-2">
                    {% if username %}
                    <span style="font-weight: bold">欢迎您, {{ username }}</span>
                    <a class="nav-link" href="/logout">
                        退出登录
                    </a>
                    {% else %}
                    <span style="font-weight: bold;--xr-font-color0: true">您好, 请</span>
                    <a class="nav-link" href="/">
                        点此登录
                    </a>
                    {% endif %}
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" data-toggle="offcanvas"
                    type="button">
                <span class="typcn typcn-th-menu"></span>
            </button>
        </div>
    </nav>
    <!-- partial -->
    <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_settings-panel.html -->
        <div class="theme-setting-wrapper">
            <div class="settings-panel" id="theme-settings">
                <i class="settings-close typcn typcn-delete-outline"></i>
                <p class="settings-heading">SIDEBAR SKINS</p>
                <div class="sidebar-bg-options" id="sidebar-light-theme">
                    <div class="img-ss rounded-circle bg-light border mr-3"></div>
                    Light
                </div>
                <div class="sidebar-bg-options selected" id="sidebar-dark-theme">
                    <div class="img-ss rounded-circle bg-dark border mr-3"></div>
                    Dark
                </div>
                <p class="settings-heading mt-2">HEADER SKINS</p>
                <div class="color-tiles mx-0 px-4">
                    <div class="tiles success"></div>
                    <div class="tiles warning"></div>
                    <div class="tiles danger"></div>
                    <div class="tiles primary"></div>
                    <div class="tiles info"></div>
                    <div class="tiles dark"></div>
                    <div class="tiles default border"></div>
                </div>
            </div>
        </div>
        <!-- partial -->
        <!-- partial:partials/_sidebar.html -->
        <div id="nav-placeholder">
            <nav class="sidebar sidebar-offcanvas" id="sidebar">
            </nav>
            <script>
                $(function () {
                    $("#sidebar").load("/navigation.html");
                });
            </script>
        </div>
        <!-- partial -->
        <div class="main-panel">
            <div class="content-wrapper">
                <div class="row mt-2">
                    <div class="col-lg-4 grid-margin stretch-card" id="left">
                        <div class="card">
                            <div class="card-body">
                                <button id="uploadBtn" onclick="closeReport()"
                                        style="width: 80%;height: 90px;border-radius: 10px;font-weight: bold;background: white;margin-bottom: 10%;margin-top: 10%;margin-left: 10%">
                                    <i class="my_typcn typcn-upload"></i><br>上传数据
                                </button>
                                <input id="fileInput" style="display: none;" type="file">
                                <script>
                                    document.getElementById('uploadBtn').addEventListener('click', function () {
                                        document.getElementById('fileInput').click();
                                    });
                                </script>
                                <script>
                                    document.getElementById('fileInput').addEventListener('change', function (event) {
                                        var file = event.target.files[0];
                                        var formData = new FormData();
                                        formData.append('file', file);
                                        var xhr = new XMLHttpRequest();
                                        xhr.open('POST', '/upload_file', true);
                                        xhr.send(formData);
                                        var aitextarea = document.getElementById('aianswer');
                                        aitextarea.value = '上传成功~';
                                    });
                                </script>

                                <button onclick="openReport()"
                                        style="width: 80%;height: 90px;border-radius: 10px;font-weight: bold;background: white;margin-bottom: 10%;margin-left: 10%">
                                    <i class="my_typcn typcn-chart-bar-outline"></i><br>数据分析
                                </button>
                                <script>
                                    function openReport() {
                                        document.getElementById('chart').style.display = 'none'
                                        document.getElementById('buttons').style.display = 'block'
                                        $('#report').load('/data_analyze')

                                        let iframe = document.getElementById('report1');
                                        iframe.src = "/data_analyze";
                                        iframe.style.display = 'block'
                                        iframe.style.border = '0px'
                                    }

                                    function closeReport() {
                                        document.getElementById('buttons').style.display = 'none'
                                        document.getElementById('report1').style.display = 'none'
                                        document.getElementById('chart').style.display = 'block'
                                    }
                                </script>


                                <button id="predictionBtn"
                                        style="width: 80%;height: 90px;border-radius: 10px;font-weight: bold;background: white;margin-bottom: 10%;margin-left: 10%"
                                        onclick="initmychart()"
                                >
                                    <i class="my_typcn typcn-device-laptop"></i><br>预测功率
                                </button>
                                <script>
                                    function initmychart() {
                                        document.getElementById('predictionBtn').addEventListener('click', function () {
                                            closeReport()
                                            var aitextarea = document.getElementById('aianswer');
                                            // 在这里发送请求到后端获取数据并绘图
                                            let json_data;
                                            fetch('/online_predict')
                                                .then(response => response.json())
                                                .then(data => {
                                                    json_data = data;
                                                    myChart.dispose();
                                                    myChart.clear();
                                                    myChart = null
                                                    myChart = echarts.init(document.getElementById('linechart'));
                                                    // 指定图表的配置项和数据
                                                    var datatime = json_data.DATATIME;
                                                    var yd15 = json_data.PRE_YD15;
                                                    var power = json_data.PRE_POWER;
                                                    var option = {
                                                        tooltip: {
                                                            trigger: 'axis'
                                                        },
                                                        legend: {
                                                            data: ['ROUND(A.POWER,0)', 'YD15']
                                                        },
                                                        grid: {
                                                            left: '3%',
                                                            right: '4%',
                                                            bottom: '3%',
                                                            containLabel: true
                                                        },
                                                        toolbox: {
                                                            feature: {
                                                                saveAsImage: {}
                                                            }
                                                        },
                                                        xAxis: {
                                                            type: 'category',
                                                            boundaryGap: false,
                                                            data: datatime
                                                        },
                                                        yAxis: {
                                                            type: 'value'
                                                        },
                                                        series: [
                                                            {
                                                                name: 'ROUND(A.POWER,0)',
                                                                type: 'line',
                                                                data: power,
                                                                animation: true
                                                            },
                                                            {
                                                                name: 'YD15',
                                                                type: 'line',
                                                                data: yd15,
                                                                animation: true
                                                            },
                                                        ]
                                                    };
                                                    myChart.setOption(option)
                                                    aitextarea.value = '预测完成~';
                                                })
                                                .catch(error => {
                                                    console.error('获取数据时发生错误:', error);
                                                });

                                        });
                                    }

                                    initmychart()

                                    function updatedata() {

                                    }

                                </script>
                                <button id="aiBtn" onclick="closeReport()"
                                        style="width: 80%;height: 90px;border-radius: 10px;font-weight: bold;background: white;margin-bottom: 10%;margin-left: 10%">
                                    <i class="my_typcn typcn-zoom"></i><br>AI分析
                                </button>
                                <script>
                                    document.getElementById('aiBtn').addEventListener('click', function () {
                                        var aitextarea = document.getElementById('aianswer');
                                        aitextarea.value = '正在分析...';
                                        let json_data;
                                        fetch('/gptapi_analyze')
                                            .then(response => response.json())
                                            .then(data => {
                                                json_data = data;
                                                var ans = json_data.ans;
                                                aitextarea.value = ans;
                                            })
                                    });
                                </script>
                                <button id="downloadBtn"
                                        style="width: 80%;height: 90px;border-radius: 10px;font-weight: bold;background: white;margin-bottom: 10%;margin-left: 10%">
                                    <a href="/download_resfile" style="text-decoration: none;color: black"
                                       onclick="closeReport()"><i
                                            class="my_typcn typcn-download"></i><br>下载结果</a>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-8 grid-margin stretch-card">
                        <div class="card">
                            <div class="card-body" id="chart">
                                <div id="linechart" style="width: 100%;height: 500px">
                                    <script>
                                        var myChart = echarts.init(document.getElementById('linechart'));
                                        // 指定图表的配置项和数据
                                        var option = {
                                            tooltip: {
                                                trigger: 'axis'
                                            },
                                            legend: {
                                                data: ['示例曲线1', '示例曲线2']
                                            },
                                            grid: {
                                                left: '3%',
                                                right: '4%',
                                                bottom: '3%',
                                                containLabel: true
                                            },
                                            toolbox: {
                                                feature: {
                                                    saveAsImage: {}
                                                }
                                            },
                                            xAxis: {
                                                type: 'category',
                                                boundaryGap: false,
                                                data: [1, 2, 3, 4, 5]
                                            },
                                            yAxis: {
                                                type: 'value'
                                            },
                                            series: [
                                                {
                                                    name: '示例曲线1',
                                                    type: 'line',
                                                    data: [2, 4, 6, 13, 18]
                                                },
                                                {
                                                    name: '示例曲线2',
                                                    type: 'line',
                                                    data: [1, 2, 3, 4, 5]
                                                },
                                            ]
                                        };
                                        myChart.setOption(option)
                                    </script>
                                </div>
                                <textarea id="aianswer" readonly style="width: 100%;height:120px;">Hi，您好，欢迎使用风电功率预测与分析服务。
                                </textarea>
                            </div>
                            <div style="width: 100%;height: 35px;display: none" id="buttons">
                                <span style="margin-left: 30px;font-weight: bold">空缺值填充</span>
                                <input type="checkbox" style="margin-left: 5px">
                                <span style="margin-left: 30px;font-weight: bold">离群点修正</span>
                                <input type="checkbox" style="margin-left: 5px">
                                <span style="margin-left: 30px;font-weight: bold">数据去重</span>
                                <input type="checkbox" style="margin-left: 5px">
                                <span style="margin-left: 30px;font-weight: bold">重采样</span>
                                <input type="checkbox" style="margin-left: 5px">
                                <button class="btn-tmp ml-4" onclick="openReport1()">
                                    提交
                                </button>
                                <script>
                                    function openReport1() {
                                        document.getElementById('chart').style.display = 'none'
                                        $('#report').load('/data_analyze1')

                                        let iframe = document.getElementById('report1');
                                        iframe.src = "/data_analyze1";
                                        iframe.style.display = 'block'
                                        iframe.style.border = '0px'
                                    }
                                </script>
                            </div>
                            <iframe class="card-body" style="width: 100%;height: 500px;display: none" id="report1">
                            </iframe>
                        </div>
                    </div>
                </div>
            </div>
            <div id="footer-placeholder">
                <script>
                    $(function () {
                        $("#footer-placeholder").load("/footer.html");
                    });
                </script>
            </div>
            <!-- main-panel ends -->
        </div>
        <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- base:js -->
    <script src="../static/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page-->
    <!-- End plugin js for this page-->
    <!-- inject:js -->
    <script src="../static/js/off-canvas.js"></script>
    <script src="../static/js/hoverable-collapse.js"></script>
    <script src="../static/js/template.js"></script>
    <script src="../static/js/settings.js"></script>
    <script src="../static/js/todolist.js"></script>
    <!-- endinject -->
    <!-- plugin js for this page -->
    <script src="../static/js/progressbar.min.js"></script>
    <script src="../static/js/Chart.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- Custom js for this page-->
    <script src="../static/js/dashboard.js"></script>
    <!-- End custom js for this page-->
    <!-- Include All JS -->
    <!--   <script src="static/js/jquery-3.5.1.min.js"></script>-->
    <script src="../static/js/bootstrap.min.js"></script>
    <script src="../static/js/isotope.pkgd.min.js"></script>
    <script src="../static/js/owl.carousel.min.js"></script>
    <script src="../static/js/slick.min.js"></script>
    <script src="../static/js/imagesloaded.pkgd.min.js"></script>
    <script src="../static/js/venobox.min.js"></script>
    <script src="../static/js/jquery.appear.js"></script>
    <script src="../static/js/jquery.knob.js"></script>
    <script src="../static/js/theme-pluginjs.js"></script>
    <script src="../static/js/jquery.meanmenu.js"></script>
    <script src="../static/js/ajax-mail.js"></script>
    <script src="../static/js/theme.js"></script>
</div>
</body>
</html>
